In [12]:
import pandas as pd

# replace 'data.csv' with your actual file path
Mardakan = pd.read_csv('../data/Mardakan.csv')
Sumqayit = pd.read_csv('../data/Sumqayit.csv')
Turkan = pd.read_csv('../data/Turkan.csv')

In [14]:
Sumqayit.head()

,TARİX,XÜSUSİ ÇƏKİ\n(kq/m3),TƏZYİQLƏR\nFƏRQİ (kPa),TƏZYİQ (kPa),TEMPERATUR\n(C),SAATLIQ\nSƏRF(min m3),SƏRF (min m3)
0,01-01-2018 01:00,0.7277,11.6130,467.133,1.532,24.643,591.423
1,01-01-2018 02:00,0.7277,10.7885,471.009,1.465,23.894,573.468
2,01-01-2018 03:00,0.7277,9.6533,476.584,1.164,22.772,546.537
3,01-01-2018 04:00,0.7277,9.2118,478.957,0.981,22.318,535.643
4,01-01-2018 05:00,0.7277,8.9707,480.033,1.027,22.051,529.217